<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='blog.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="bootstrap/css/bootstrap-theme.min.css") }}" rel="stylesheet" />
  </head>
  <body>

    <div class="container">
    <div navbar-header>
      <div class="container">
    	  <h1>Student App</h1>
        <nav class="navbar navbar-default  navbar-fixed-top" data-spy="affix"  id="navbar">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('home') }}">HOME</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('add') }}">New Entry</a></li>
            <li><a href="{{ url_for('view') }}">Full Marklist</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        </nav><!-- /.container-fluid -->
      </div>  
      </div navbar-header>
      <br>
      <br>
      <div class="hero-unit">
        
        <p>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Student App is a web application for storing mark of students.It has Adding and Viewing Facilities.Thank you !
           </p>
         </div>
      {% for message in get_flashed_messages() %}
      <br>
      <div class="alert alert-info">
        <a href="/" class="close" data-dismiss="alert">&times;</a><br>
        <strong>Note!</strong>{{message}}
      </div>
      {% endfor %}
      </div>
    <script src="{{ url_for('static', filename="jquery-1.11.1") }}"></script>
    <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}""></script>
  </body>
</html>
